@{
    ViewBag.Title = "addSimilarMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background1";
}
@model Movies.Models.AddSimilarMovieModel



<div class="centerMe">
    <h1 class="mainTitle">Add new similar movie </h1>
    
    <br/><br/><br/><br/>

    
    <p>Check what movies are in database</p>
    <div id="radioMovies">
        <input type="text" id="radioSearch" name="radioSearch"/>
        <input type="submit" id="radioSubmit" name="radioSubmit" value="check" class="input-submit"/>
    </div>
    <br/><br/>
    
    @using (Html.BeginForm("addSimilarMovie", "Movie", FormMethod.Post))
    {        
        
        
        <input name="userId" id="userId" type="hidden" value="@ViewBag.userId">
        
        @(Html.HiddenFor(m => m.firstMovieId));
        @Html.LabelFor(m => m.secondMovieTitle)<br/>
        @(Html.TextBoxFor(m => m.secondMovieTitle, new {@class="secondMovieTitleBox"}));

        <input type="submit" value="Add" class="input-submit" id="addSimilarSubmitButton"/> 
    }

</div>
