@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background1";
}

<p class="trash">SIMILAR.to - znajdź podobne filmy<br/><br/>
    Projekt na Bazy Danych 2014<br/>
    Zespół 14.<br/>
    Mikołaj Bujok<br/>
    Jakub Kubiak<br/>
    Adrian Nikodem</p>