@{
    ViewBag.Title = "Advertising";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background1";
}


<p class="trash">If you would like to advertise yourself here - @Html.ActionLink("contact with us!","About","Home")</p>
