@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search";
    ViewData["Background"] = "background1";
}

@Scripts.Render("~/Scripts/startPageScript.js")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag</title>
</head>
<body>

    <div class="StartPage">

        <div id="SearchBox">and the question is?</div>

    </div>

</body>
</html>
