@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search";

}

@Scripts.Render("~/Scripts/startPageScript.js")

<div class="StartPage">

		    <div id="SearchBox">and the question is?</div>



		</div>
