@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/startPageScript.js")

<div class="StartPage">

		    <div id="SearchBox">and the question is?</div>

			<div id='SearchBlur' style='display: none;'>
				
				<div id="searchField">
					<input type="text" id="searchInput">
				    <p id="incentive">  type what to find</p>
					<div class="lineSeparator"></div>
				</div>	

				<div id="moviesResult">
					<p>search results for movies</p>

				</div>

				<div id="peopleResult">
					<p>search results for people</p>

				</div>

				<div id='CloseSearchBlur'>x</div>

			</div>

		</div>
