@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background1";
}

<span class="centerMe white"> something went wrong <br/><p class="error">@ViewBag.Title</p></span>